# This file includes all requirement files from the requirements/ folder.
# Created for Render deployment which looks for requirements.txt by default.
-r requirements/base.txt
-r requirements/production.txt
-r requirements/render.txt
-r requirements/development.txt
-r requirements/testing.txt
